{% extends '_base.html' %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% url 'account_change_password' as change_password_url %}
    {% element form form=form method="post" action=change_password_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans "Change Password" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}