{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<h1>Home Page</h1>
<img src="{% static 'images/dfp_cover_31.png' %}" class="bookcover">
{% if user.is_authenticated %}
<h2>hi {{ user.username }}</h2>
<p>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log Out</button>
</form>
</p>
{% else %}
<p>You are not login</p>
<a href="{% url 'login' %}">Log In</a>|
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}